.contactMe {
    font-family: 'Rokkitt', serif;
    margin-bottom: 50px;
}

.contact {
    /* font-size: 10vw !important; */
    color: #3C3C3C;
    font-weight: bold !important;
    margin-top: 8vw;
    margin-left: auto;
    margin-right: auto;
}

.contact::before
/* line under portfolio title */

{
    content: '';
    background: #A0616A;
    height: 0.5vw;
    width: 17.7vw;
    margin-left: 5px;
    margin-right: auto;
    display: block;
    transform: translateY(5.8vw);
}

.contact::after
/* line under portfolio title */

{
    content: '';
    background: #A0616A;
    height: 1.5vw;
    width: 5vw;
    margin-left: 7vw;
    margin-right: auto;
    display: block;
    /* transform: translateY(13vw); */
}

@media (min-width: 200px) and (max-width:767px) {
    .contact {
        transform: none;
        text-align: center;
    }
    .contact::after,
    .contact::before {
        margin: 0 auto;
    }
    .contact::before {
        transform: translateY(3.38rem);
    }
}

@media (min-width: 768px) {
    .contact {
        transform: rotate(-90deg);
        font-size: 4vw !important;
    }
}