.navbar {
    background: #D7DEDC;
    position: relative;
    padding: 0;
    border: none;
}

Nav::after {
    content: '';
    background: linear-gradient(90deg, #A0616A 0%, rgba(160, 97, 106, 1) 40%, #01014E 75%, rgba(125, 197, 246, 1) 100%);
    background-size: 500% 1000%;
    height: 7px;
    width: 35%;
    position: absolute;
    top: 20vw;
    border: 1px solid #D7DEDC;
    border-radius: 5px;
    transform: rotate(-90deg);
    margin-left: -40vw;
}

Nav:hover::after {
    animation: animate 2s ease-in-out alternate infinite;
}

@keyframes animate {
    0% {
        background-position: 7% 0%
    }
    50% {
        background-position: 94% 100%
    }
    100% {
        background-position: 7% 0%
    }
}

.navbar-brand {
    width: 10%;
    margin-left: -76%;
    position: relative;
    top: 3vw;
}

.navbar-nav {
    width: 100%;
    font-family: 'Squada One', cursive;
    font-size: 20px;
    float: left;
    text-align: right;
    /* margin-left: 30px !important; */
}

.collapsing,
.collapse.show {
    padding-right: 10px;
}


/* .navbar-nav li a {
    float: right;
    text-align: left;
} */

.nav-link {
    width: 9%;
    letter-spacing: 0;
    color: #A0616A !important;
    padding-left: 0px !important;
    position: relative;
    top: 26vw;
}

.nav-link:hover {
    /* with webkits, background is clipped and text is visible */
    background: linear-gradient(90deg, rgba(1, 1, 78, 1) 60%, rgba(58, 128, 145, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-bars {
    color: #A0616A;
    font-size: 30px !important;
    width: 40px;
}

.fa-bars:hover {
    background: linear-gradient(90deg, rgba(1, 1, 78, 1) 45%, rgba(160, 97, 106, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-toggler {
    border: none !important;
    width: 40px;
    padding: 0;
}

.navbar-toggler.collapsed {
    width: 40px;
    padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

svg {
    width: 30px;
    height: 100%;
}

@media (min-width: 200px) and (max-width:991px) {
    .navbar-brand {
        width: 40px;
    }
    Nav::after {
        position: relative;
        top: 10px;
    }
}