.navbar {
    background: #3A8091;
    border-bottom: 5px solid #E1D89F;
}

.navbar-brand {
    font-family: 'Euphoria Script', cursive;
    font-size: 20px !important;
    color: #E1D89F !important;
}

.navbar-nav {
    font-family: 'Squada One', cursive;
    font-size: 20px;
    float: right;
    text-align: right;
    /* margin-left: 30px !important; */
}

.collapsing,
.collapse.show {
    padding-right: 10px;
}


/* .navbar-nav li a {
    float: right;
    text-align: left;
} */

.nav-link {
    margin-left: 1vw;
    letter-spacing: 0;
    color: #E1D89F !important;
}

.fa-bars {
    color: #E1D89F;
    font-size: 30px !important;
    width: 40px;
}

.navbar-toggler {
    border: none !important;
    width: 40px;
    padding: 0;
}

.navbar-toggler.collapsed {
    width: 40px;
    padding: 0;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none !important;
    box-shadow: none !important;
}

svg {
    width: 30px;
    height: 100%;
}

@media (min-width: 200px) and (max-width:991px) {
    .navbar-brand {
        width: 40px;
    }
}