#footer {
    background: #A0616A;
}

.footerTop {
    width: 100%;
    position: relative;
    top: -3px;
}

.footerBottom {
    width: 100%;
    position: relative;
    top: -1px;
}

.footerBottomDiv {
    background: #A0616A;
    color: white;
}

.footerBox {
    margin-bottom: 40px;
    margin-top: 5vw;
}

.footerBanner {
    font-family: 'Lobster', cursive;
    font-size: 20px !important;
    margin-bottom: 0;
    padding-bottom: 0;
    line-height: 10px;
}

.footerBanner a,
.footerBanner a:hover {
    text-decoration: none;
    color: white;
}

.footerMail {
    font-family: 'Rokkitt', serif;
    font-size: 20px !important;
}

.footerNav {
    font-family: 'Rokkitt', serif;
    font-size: 30px !important;
}

.footerNav ul {
    list-style: none;
}

.footerNav a {
    color: white;
    text-decoration: none;
}

.footerNav a:hover {
    text-decoration: none;
    /* with webkits, background is clipped and text is visible */
    background: linear-gradient(90deg, rgba(1, 1, 78, 1) 60%, rgba(58, 128, 145, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footerImg {
    width: 5vw;
    padding-right: 2vw;
}

hr {
    background: white;
}

.copyright {
    margin-bottom: 0;
    font-family: 'Rokkitt', serif;
    font-size: 1vw !important;
    padding-bottom: 5px;
    color: white;
}

svg {
    width: 30px;
    height: 30px;
}