    .header {
        background: #D7DEDC;
        overflow: hidden;
    }
    
    .content {
        margin-top: -15vw;
    }
    
    .welcome {
        font-family: 'Lobster', cursive;
        font-size: 1.7vw !important;
        color: #A0616A !important;
        position: relative;
        top: 29vw;
        left: 7vw;
    }
    
    .me {
        font-family: 'Rokkitt', serif;
        font-size: 40vw !important;
        font-weight: bold;
        color: #A0616A !important;
        position: relative;
        top: 11vw;
    }
    
    .dot {
        transition: transform 2s ease-in-out;
        transform: rotate(90deg);
        transform-origin: bottom left;
    }
    
    .mask {
        width: 110%;
        position: relative;
        top: 17px;
    }
    
    @media (min-width: 200px) and (max-width:767.99px) {
        .welcome {
            font-size: 12vw !important;
            margin-left: -11vw;
            line-height: 11vw;
        }
    }
    
    @media (min-width: 768px) {
        .welcome {
            margin-left: -32.5vw;
        }
    }