Image {
    padding: 0;
    margin: 0;
    width: 100%;
}

#portfolio {
    font-family: 'Rokkitt', serif;
    background: #087E8B;
    color: white !important;
    padding: 80px 0;
    width: 100%;
}

.display-1 {
    font-size: 7vw !important;
    color: #3C3C3C;
    font-weight: bold !important;
}

.portfolioTitle::before
/* line under portfolio title */

{
    content: '';
    background: white;
    height: 0.5vw;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(9.35vw);
}

.portfolioTitle::after
/* line under portfolio title */

{
    content: '';
    background: white;
    height: 1.5vw;
    width: 5vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* transform: translateY(13vw); */
}

.row {
    margin: 0;
}

.col-md-6 {
    padding-right: 0px;
    padding-left: 0px;
}

.portfolioWrap {
    margin-top: 5vw;
}

.portfolioTop {
    width: 110%;
    position: relative;
    top: -81px;
    left: -20px;
}

.portfolioBottom {
    width: 110%;
    position: relative;
    bottom: -82px;
    left: -22px;
}

.firstText {
    font-size: 10vw !important;
    margin: 0;
    position: relative;
    right: 15px;
    font-weight: bold !important;
}

.cardFirst {
    margin: 0;
    padding: 0 !important;
    background: #087E8B !important;
    border: none !important;
}

.cardBody {
    padding: 0 !important;
    font-size: 1.5vw;
}

.portfolio {
    padding: 20px;
}

.cardText {
    margin: 0;
    padding: 0;
    line-height: 1.2vw;
    margin-top: 10px;
    font-size: 1.4vw;
}

.button {
    width: 130px;
    position: relative;
    background: #087E8B !important;
    font-family: 'Lobster', cursive;
    font-size: 30px !important;
    position: relative;
    z-index: 55;
    margin-top: 50px;
}


/* 
.button:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 5px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 1) 0%, rgba(215, 222, 220, 1) 49%, rgba(160, 97, 106, 1) 100%);
    z-index: -1;
} */

.button:hover {
    /* animation: button 2s ease-in-out alternate infinite; */
    background: #3C3C3C !important;
    color: white;
    border: 1px solid #3C3C3C !important;
}


/* @keyframes button {
    0% {
        background-position: 7% 0%;
    }
    50% {
        background-position: 94% 100%;
    }
    100% {
        background-position: 7% 0%;
    }
} */

@media (min-width: 200px) and (max-width:767px) {
    .card-img-top {
        width: 40vw !important;
        margin: 0 auto !important;
    }
    .cardText {
        font-size: 4vw !important;
        line-height: 3.3vw;
        width: 40vw;
        margin: 0 auto;
    }
    .firstText {
        font-size: 15vw !important;
        position: relative;
        left: 0px;
    }
    /* .display-1 {
        font-size: 4vw !important;
    } */
}